.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
assets/clips/**
.gitignore
.yarnrc
esbuild.js
create-logo.js
vsc-extension-quickstart.md
PRODUCT_HUNT_LAUNCH.md
PUBLISHING.md
README_OVSX.md
README_MS.md
website-prompt.txt
.github/**
*.vsix
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
